{% extends "furo/page.html" %}
{% block content %}
{%- if meta is mapping and meta.get("required-reading") %}
  <div class="readingbox">
    <div class="admonition note requiredreading">
      <p class="admonition-title">
        Required reading for this page:
      </p>
      <ul>
        {%- for item in meta.get("required-reading").split(" ") %}
          {%- set components = item.split("=") %}
          {%- set name = components[0] %}
          {%- set url = components[1] %}
          {%- if hasdoc(url) %}
          <li><a href="{{ pathto(url) }}">{{ name }}</a></li>
          {%- else %}
          <li><a href="{{ url }}">{{ name }}</a></li>
          {%- endif %}
        {%- endfor %}
      </ul>
    </div>

    <div class="admonition note recommendedreading">
      <p class="admonition-title">
        Recommended reading for this page:
      </p>
      <ul>
        {%- for item in meta.get("recommended-reading").split(" ") %}
          {%- set components = item.split("=") %}
          {%- set name = components[0] %}
          {%- set url = components[1] %}
          {%- if hasdoc(url) %}
          <li><a href="{{ pathto(url) }}">{{ name }}</a></li>
          {%- else %}
          <li><a href="{{ url }}">{{ name }}</a></li>
          {%- endif %}
        {%- endfor %}
      </ul>
    </div>
  </div>
{%- endif %}
{{ super() }}
{% endblock %}
