## Dossier

```{list-table}
:header-rows: 0
:class: full-width

* - **Name:**
  - {{ name }}
* - **File:**
  - {{ profilefile }}
* - **Anchor:**
{% if anchor is string %}
  - {{ anchor }}
{% else %}
{% set colon = joiner(";") %}
  - {% for r in anchor %}{{ colon() }}{% if r.link %} [{{ r.name }}]({{ r.link }}){% else %} {{ r.name }}{% endif %}{% endfor %}
{% endif %}
* - **Time:**
  - {{ time }}
* - **Author:**
  - {{ author }}
* - **License:**
{% if license.name %}
  - [{{ license.name }}]({{ license.link }})
{% else %}
  - {{ license }}
{% endif %}
* - **Version:**
  - {{ version }}
```
