.profile-tour-action {
    color: rgb(254, 85, 54);
}

.rst-content section ul.no-bullet li  {
    list-style-type: none;
}

.galaxy-survey-orange {
    color: rgb(255 128 0)
}
.galaxy-survey-yellow {
    color: rgb(200, 200, 0)
}
.galaxy-survey-green {
    color: rgb(0, 200, 0)
}
.galaxy-survey-aqua {
    color: rgb(0, 204, 204)
}

kbd {
    font-weight: bold;
}

.glossary.index-list dt {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 4px;
}
.glossary.index-list dd {
    margin-left: 2px;
    margin-bottom: 20px;
}